body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6fffb;
  color: black;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;



/* Add this CSS code to your stylesheet or create a separate CSS file */





.present {
  width: 8px;
  height: 8px;
  background-color:green ; /* Color of the dot */
  border-radius: 50%; /* Make the dot round */
}
.absent{
  width: 8px;
  height: 8px;
  background-color:red ; /* Color of the dot */
  border-radius: 50%; /* Make the dot round */
}

